*{padding: 0px;
  margin: 0px;
  font-family:'Rubik', sans-serif;}

  html {
	scroll-behavior: smooth;
}


  a{text-decoration: none;
    color:inherit; }
    .clear {
	clear: both;
}
#main{width: 75%;
	  
	  margin: auto;  
     }
#header{width: 100%;
	    height: auto;
	     margin: auto;
	     background-image: url("../images/headerbg.jpg");
	     background-position: center center;
	     background-size: cover;
	     background-attachment: fixed;
	     background-repeat: no-repeat
        }
        #h1{width: 100%;
          height: 560px;
          }
          .logo{margin-top: 0px;}
          .logo>img{width: 120px;
                height: 106px;
                float: right;
                margin-right: 60px;}
           .images_head>img{width: 400px;
                             height: 150px;
                             float: right;
                             }
        #middle{width: 100%;
          height: 448px;
          color: white;
          background: rgba(0,0,0,0.5);
          border-top: #182d55 14px solid;
          }
          #middle>ul{list-style: none;
                     margin-top:35px; }

           #middle>ul>li{border-right: 2px solid white;
                         float: left;
                         text-decoration: underline;
                         font-weight: bold;
                         color: white;
                         text-align: center;
                         padding: 15px 44px;

                       }
            #middle>ul>li:nth-child(5){border: none;}
        #bottom{background: #182d55 url(../images/helicopters.jpg) no-repeat center center;
						    height: 182px;
						    width: 100%;
						    padding: 40px 0px; }

/*	arial appliocation css start	*/
 #arieal_application{width: 100%;
 	                   height: auto;
                     }
      
        .upper {
	width: 100%; height: 321px;
	background-attachment: fixed;

	background-size: cover;
	background-repeat: no-repeat;
}

.overlay {
	width: 100%;
	height: 100%;
}


#arieal_application>.upper {
	background-image: url('../images/frameimg1.jpg');
}

#arieal_application .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.tab_title_1 {
    width: 756px;
    margin: 0px auto;
    padding-top: 160px;
    position: relative;
    z-index: 2;
}
.tab_title_div1_1 {
    width: 230px;
    border: #fff 2px solid;
    float: left;
}
.tab_title_inner_1 {
    margin: 0px auto;
    height: 35px;
    border: #FFF 8px solid;
    font-family: "times New Roman";
    font-size: 26px;
    color: #FFF;
    font-weight: bold;
    padding: 0px 10px;
    text-align: center;
    float: left;
    margin-top: -23px;
}
.tab_title_div2_1 {
    width: 230px;
    border: #fff 2px solid;
    float: left;
}
.bottom {
	background: white;
	padding: 40px 15px;
}
.newlineheight {
    line-height: 30px !important;
}
.aerial-applicators-content {
    width: 98%;
    font-family: "times New Roman";
    font-size: 24px;
    color: #182D55;
    text-align: center;
    line-height: 55px;
    margin: 100px auto;
}
.openpopup {
    cursor: pointer;
}
.sectionfan {
    width: 220px;
    margin: 0px auto;
    margin-top: 100px;
}
#fight-training-center {
    width: 100%;
}
.contact-us-top {
    width: 750px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: -40px;
    font-family: "times New Roman";
    font-size: 26px;
    color: #182D55;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}
#Helicopter_services{width: 100%;
 	                   height: auto;
                     }
 #Helicopter_services>.upper {
	background-image: url('../images/frameimg2.jpg');
}

#Helicopter_services .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
#flight_training_center{width: 100%;
 	                   height: auto;
                     }
 #flight_training_center>.upper {
	background-image: url('../images/frameimg3.jpg');
}

#flight_training_center .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
#Charters{width: 100%;
 	                   height: auto;
                     }
 #Charters>.upper {
	background-image: url('../images/frameimg4.jpg');
}

#Charters .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
#cotact_us{width: 100%;
 	                   height: auto;
                     }
 #cotact_us>.upper {
	background-image: url('../images/frameimg5.jpg');
}

#cotact_us .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
.border{border-bottom: 2px solid blue;
        padding-top:170px;
        width: 90%;
        margin: auto;
         }

